li {
  float: right;
}
.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  margin-right: 30px;
  margin-top: 30px;
}

li a{
  font-size: xx-large;
  float: right;
}

li a{
  padding: 12px;

}
.nav a:hover
{
	height: 30px;
	color: white;
  border-top-left-radius: 5px;
	background-color: black;
  /* transition-delay: 0.7s; */
  transition-duration: 0.2s;
	
}
.nav li a
{
	margin-right:10px;
	text-decoration: none;
  font-weight: bold;
	font-size: 25px;
	color:black;
}
